@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vynt-primary: #141513;
  --vynt-secondary: #596051;
  --vynt-text: #bff1a8;
  --vynt-text-sub: #82a871;
}

body {
  height: 100vh;
  color: var(--vynt-text);
  background-color: var(--vynt-primary);
}

.separator {
  border-color: var(--vynt-secondary);
}

.sidebar {
  background-color: var(--vynt-primary);
  border-right-width: 1px;
  border-right-style: solid;
  border-color: var(--vynt-secondary);
}

.sidebar-item {
  @apply text-gray-400;
}

.sidebar-item-choose {
  @apply text-[#9df7b5];
}

.sidebar-item:hover {
  @apply sidebar-item-choose !text-white;
}

.sidebar-item-disable {
  @apply sidebar-item-choose pointer-events-none;
}

.text-medium {
  font-size: 18px;
  font-weight: 400;
}

.text-project-description {
  font-size: 16px;
  font-weight: 400;
}

.inner-text-medium > p {
  @apply text-medium;
}

.text-time {
  @apply text-[#81fb60];
}

.text-sub {
  color: var(--vynt-text-sub);
}
