@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vynt-primary: #141513;
  --vynt-secondary: #596051;
  --vynt-text: #bff1a8;
  --vynt-text-sub: #f982c1;
  --vynt-time: #81fb60;
  --vynt-info: rgb(189 189 189 / 1);
  --vynt-choose: #9df7b5;
  --vynt-hover: rgb(255, 255, 255);
}

@media (prefers-color-scheme: light) {
  :root {
    --vynt-primary: #eff8e6;
    --vynt-secondary: #bfc2bb;
    --vynt-text: #1f3017;
    --vynt-text-sub: #5e143b;
    --vynt-time: #0754a7;
    --vynt-info: rgb(98, 65, 65);
    --vynt-choose: #039229;
    --vynt-hover: rgb(0, 0, 0);
  }
}

body {
  height: 100vh;
  color: var(--vynt-text);
  background-color: var(--vynt-primary);
}

.separator {
  border-color: var(--vynt-secondary);
}

.sidebar {
  background-color: var(--vynt-primary);
  border-right-width: 1px;
  border-right-style: solid;
  border-color: var(--vynt-secondary);
}

.vyngt-item {
  color: var(--vynt-info);
}

.vyngt-item-choose {
  color: var(--vynt-choose);
}

.vyngt-text-hover {
  color: var(--vynt-hover);
}

.vyngt-item:hover {
  @apply vyngt-text-hover;
}

.vyngt-item-disable {
  @apply vyngt-item-choose pointer-events-none;
}

.text-medium {
  font-size: 18px;
  font-weight: 400;
}

.text-project-description {
  font-size: 16px;
  font-weight: 400;
}

.inner-text-medium > p {
  @apply text-medium;
}

.text-time {
  color: var(--vynt-time);
}

.text-sub {
  color: var(--vynt-text-sub);
}

.navbar {
  background-color: var(--vynt-primary);
}
