@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #141513;
}

.border-color-primary {
  border-color: #596051;
}

body {
  height: 100vh;
  color: white;

  @apply bg-primary;
}

.sidebar {
  @apply bg-primary border-color-primary;
  border-right-width: 1px;
  border-right-style: solid;
}

.sidebar-item {
  @apply text-gray-400;
}

.sidebar-item-choose {
  @apply text-[#9df7b5];
}

.sidebar-item:hover {
  @apply sidebar-item-choose !text-white;
}

.sidebar-item-disable {
  @apply sidebar-item-choose pointer-events-none;
}

.inner-text-medium > p {
  font-size: 18px;
}

.text-time {
  @apply text-[#81fb60];
}
