@tailwind base;
@tailwind components;
@tailwind utilities;

.vyngt-meteor {
  position: fixed;
  width: 300px;
  height: 2px;
  transform: rotate(-45deg);
  background-image: linear-gradient(
    to right,
    rgba(95, 145, 255, 1),
    rgba(0, 0, 255, 0)
  );
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
}

.vyngt-meteor:before {
  content: "";
  position: fixed;
  width: 4px;
  height: 5px;
  border-radius: 100%;
  margin-top: -2px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 255, 0),
    rgba(95, 145, 255, 1),
    rgba(0, 0, 255, 0)
  );
  box-shadow: 0 0 15px 3px #77cfe8;
}
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  .vyngt-meteor,
  .vyngt-meteor:before {
    display: none !important;
    animation: none !important;
  }
}
